apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ required "Please specify a 'name' in the user file" .Values.name }}
    namespace: {{ required "Please specify a 'namespace' in the user file" .Values.namespace }}
spec:
    replicas: 1
    selector:
        matchLabels:
            sustainable-computing.io/app: {{ .Values.name }}
    template:
        metadata:
            name: {{ .Values.name }}
            namespace: {{ .Values.namespace }}
            labels:
                sustainable-computing.io/app: {{ .Values.name }}
        spec:
            automountServiceAccountToken: true
            serviceAccount: {{ .Values.name }}
            serviceAccountName: {{ .Values.name }}
            terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
            containers:
                - name: {{ .Values.name }}
                  image: {{ required "Please specify a 'containerImage' in the user file" .Values.containerImage }}
                  imagePullPolicy: {{ .Values.imagePullPolicy | default "IfNotPresent" }}
                  args:
                      - "--kepler-prometheus-url={{ .Values.keplerPrometheusUrl }}"
                      - "--kepler-metric-name={{ .Values.keplerMetricName }}"
                      - "--susql-prometheus-database-url={{ .Values.susqlPrometheusDatabaseUrl }}"
                      - "--susql-prometheus-metrics-url={{ .Values.susqlPrometheusMetricsUrl }}"
                      - "--susql-log-level={{ .Values.susqlLogLevel }}"
                      - "--sampling-rate={{ .Values.samplingRate }}"
                      - "--static-carbon-intensity={{ .Values.staticCarbonIntensity }}"
                      - "--metrics-bind-address={{ .Values.metricsAddr }}"
                      - "--health-prove-bind-address={{ .Values.healthProbeAddr }}"
                      - "--leader-elect={{ .Values.leaderElect }}"
                  ports:
                      - name: metrics
                        containerPort: 8082
                  resources:
                      requests:
                          cpu: {{ .Values.requests.cpu }}
                          memory: {{ .Values.requests.memory }}
                      limits:
                          cpu: {{ .Values.requests.cpu }}
                          memory: {{ .Values.requests.memory }}
